*{
    font-family:"8BIT WONDER", "JetBrains Mono", Impact;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerSection{
    display: flex;
    height: 740px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.gridPlacement{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gridContainer {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridSquare{
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;    
    box-sizing: border-box;
}
.gridSquareNoBorder{
    border: 0px solid black;    
    box-sizing: border-box;
}
.allButtons{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin-right: 20px;
    gap: 40px;
    

}
.pixelArt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    margin: 30px 50px 20px 60px;
    
}
.gridSizeButton,
.removeGrid,
.resetGrid,
.randomGridButton{
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px;
}
.gridSizeButton:hover,
.removeGrid:hover,
.resetGrid:hover,
.randomGridButton:hover{
    background-color: rgb(92, 92, 92);
}
.gridSizeButton:active,
.removeGrid:active,
.resetGrid:active,
.randomGridButton:active{
    transform: translateX(10px) translateY(10px);
    box-shadow: 0 0;
}

