.gridContainer {
    width: 500px;
    height: 500px;
    display: flex;
    flex-grow: 0;
}
.gridSquare{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
}